<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center mt-2">Search page</h1>
<div class="container text-center mt-4">
    <main class="w-25 m-auto mt-2">
        <form th:action="@{/track/search/}" >
<!--            <h1 class="h3 mb-3 fw-normal">Search page</h1>-->
            <div class="form-floating ">
                <input type="text" class="form-control" id="floatingInput" name="query" placeholder="search whatever">
                <label for="floatingInput">search whatever</label>
            </div>
            <button class="w-100 btn btn-warning btn-lg mt-3" type="submit">Search</button>
        </form>
    </main>
<div style="margin: 20px" th:each="musicObjectDTO : ${musicObjectDTOS}">
    <div>
        <h2 th:text="${musicObjectDTO.trackName}"></h2>
        <audio controls th:src="@{/musicForStreaming/{musicFile} (musicFile=${musicObjectDTO.musicFile})}"></audio>
    </div>
</div>
<div style="margin: 20px" th:each="musicObjectDTO : ${musicObjectDTOS1}">
    <div>
        <a th:href="@{/genre/allGenreAlbums/{id} (id=${musicObjectDTO.genreId})}"><h2 th:text="${musicObjectDTO.genreName}"></h2></a>
    </div>
</div>
<div style="margin: 20px" th:each="musicObjectDTO : ${musicObjectDTOS2}">
    <div>
        <a th:href="@{/artist/allArtistAlbums/{id} (id=${musicObjectDTO.artistId})}"><h2 th:text="${musicObjectDTO.artistName}"></h2></a>
    </div>
</div>
<div style="margin: 20px" th:each="musicObjectDTO : ${musicObjectDTOS3}">
    <div>
        <a th:href="@{/album/allAlbumTracks/{id} (id=${musicObjectDTO.albumId})}"><h2 th:text="${musicObjectDTO.albumName}"></h2></a>
    </div>
</div>

    <div><a th:href="@{/index}"><button type="button" class="btn btn-secondary btn-lg mt-5">Home</button></a></div>
</div>
</body>
</html>